@mixin button {
  // @include sans-serif-font;
  -webkit-appearance: none;
  color: $text-color;
  background-color: $secondary-color;
  cursor: pointer;
  transition: all $animation-length-tiny;
  white-space: nowrap;
  font-size: 16px;
  padding: 16px 48px;
  margin-top: 16px;
  border: 2px solid $tertiary-color;

  @media only screen and (max-width: $brk-l) {
    padding: 16px 40px;
  }

  @media only screen and (max-width: $brk-m) {
    padding: 16px 32px;
  }

  &:disabled {
    opacity: .5;
    cursor: initial;
  }

  &:active {
    background-color: darken($secondary-color, 10%);
  }

  &:hover:not(:disabled):not(:active) {
    background-color: darken($secondary-color, 5%);
  }
}

input[type=button].button,
input[type=submit].button,
button.button {
  @include button;

  &.full-width {
    width: 100%;
  }
}

a.button {
  @include button;
  @include link-color($primary-color, $primary-color);
  display: inline-block;
  vertical-align: bottom;
  text-decoration: none;
}
