.icon {
  width: 1em;
  line-height: 1em;
  position: relative;
  display: inline-block;
  text-decoration: none;

  &:before {
    content: '\A0';
  }
}

@function icon($name) {
  @return url('/assets/svg/#{$name}.svg');
}



.site-icon {
  background: icon(icon) no-repeat;
  background-size: contain;
  background-position: 50%;
}

.site-icon-white {
  background: icon(icon-white) no-repeat;
  background-size: contain;
  background-position: 50%;
}

.icon-github {
  background: icon(github) no-repeat;
  background-size: contain;
  background-position: 50%;
}

.icon-linkedin {
  background: icon(linkedin) no-repeat;
  background-size: contain;
  background-position: 50%;
}