@import 'vendor/normalize';
@import 'variables/index';
@import 'mixins/link-color';

@import 'base';
@import 'icon';
@import 'section';
@import 'header';
@import 'hero-banner';
@import 'button';
@import 'wrap-table';
@import 'checkbox';
@import 'radio';
@import 'options';

p {
  font-size: 18px;
  line-height: 1.4;
}

input {
  width: 100%;
  padding: 12px 16px;
  margin-top: 8px;
  border: 2px solid $tertiary-color;
  background: $color-white;
}

input[type=radio],
input[type=checkbox] {
  width: auto;
}

strong {
  color: $secondary-color;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
  margin-bottom: 0.7em;
}

a {
  @include link-color($tertiary-color, lighten($tertiary-color, 10%));
}

footer {
  background: $tertiary-color;

  .section {
    padding: 8px 32px;
  }
}

.input-container {
  display: flex;
  margin: 8px 0;

  input {
    border-right: none;
  }

  .button {
    border-left: none;
  }

  input, .button {
    margin: 0;
  }
}

pre {
  border: 2px solid $tertiary-color;
  background: $color-white;
  color: $primary-color;
  padding: 16px;
  margin: 8px 0;
  overflow: auto;
  font-size: 14px;
}
