@import 'vendor/normalize';
@import 'variables/index';
@import 'mixins/link-color';

@import 'base';
@import 'margins';
@import 'icon';
@import 'section';
@import 'header';
@import 'hero-banner';
@import 'button';
@import 'wrap-table';
@import 'checkbox';
@import 'radio';
@import 'options';
@import 'endpoint-info';

p {
  font-size: 18px;
  line-height: 1.4;
}

input {
  width: 100%;
  padding: 14px 16px;
  margin-top: 8px;
  border: 2px solid $tertiary-color;
  background: $color-white;

  @media only screen and (max-width: $brk-l) {
    padding: 14px 12px;
  }
}

input[type=radio],
input[type=checkbox] {
  width: auto;
}

strong {
  color: $secondary-color;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
  margin-bottom: 0.7em;
}

a {
  @include link-color($tertiary-color, lighten($tertiary-color, 10%));
}

footer {
  background: $tertiary-color;

  .section {
    padding: 8px 32px;
    display: flex;
  }

  a {
    @include link-color($light-text-color, $light-text-color);
  }

  .copyright {
    flex-grow: 1;
  }

  .icon {
    width: 1.4em;
    line-height: 1.4em;
  }
}

.input-container {
  display: flex;
  margin: 8px 0;

  input {
    border-right: none;
  }

  .button {
    border-left: none;
  }

  input, .button {
    margin: 0;
  }

  @media only screen and (max-width: $brk-m) {
    display: block;

    .button {
      text-align: right;
      margin-top: 8px;
    }
  }
}

pre {
  border: 2px solid $tertiary-color;
  background: $color-white;
  color: $primary-color;
  padding: 16px;
  margin: 8px 0;
  overflow: auto;
  font-size: 14px;

  @media only screen and (max-width: $brk-l) {
    padding: 12px;
  }
}

code[class*=language-], pre[class*=language-] {
  font-size: 16px;
}

.type-expand-button {
  border: 1px solid #708090;
  padding: 2px;
  user-select: none;
  cursor: pointer;

  &:after {
    content: '...';
  }

  &.open:after {
    content: ' - ';
  }

  &:not(.open) + .type {
    display: none;
  }
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}